:root {
  --dark-blue: #003049;
}

body {
  margin: 0;
  font-family: Avenir, Montserrat, Corbel, "URW Gothic", source-sans-pro,
    sans-serif;
}

a {
  text-decoration: none;
}

h1 {
  margin: 0;
}

h2 {
  font-size: 1.7rem;
  margin-top: 0;
}

.header-background {
  position: fixed;
  top: 0;
  width: 100vw;
  aspect-ratio: 3;
  clip-path: polygon(0 0, 100% 0%, 100% 55%, 0% 80%);
  background: var(--dark-blue);
}

.background-wrap {
  position: absolute;
  top: 0;
  filter: drop-shadow(-1px 3px 3px rgba(50, 50, 0, 0.5));
  z-index: -1;
}

.header-content {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-img img {
  height: 350px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: block;
}

.header-img {
  position: relative;
  text-align: center;
  color: #ffffff;
  float: left;
  z-index: 1;
}

.header-img .page-title {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%, 0);
  text-shadow: 2px 2px 4px #000000;
  font-size: 2.3rem;
}

.header-about {
  padding: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-about .social-links {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

main {
  padding: 0 80px;
}

main h2 {
  display: flex;
  justify-content: center;
}

.main-projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  margin: 20px 0 50px 0;
}

.project-card {
  display: flex;
  flex-direction: column;
  min-height: 300px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.project-screenshot {
  padding: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-blue);
  color: #ffffff;
  font-size: 1.6rem;
}

.project-content {
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.project-title {
  display: flex;
  align-items: center;
}

.project-name {
  flex: 1;
  font-size: 1.3rem;
}

.project-links {
  display: flex;
  align-items: center;
  font-size: 0px;
  gap: 10px;
}

.project-links img {
  width: 20px;
  height: auto;
}

footer {
  background-color: var(--dark-blue);
  color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

footer img {
  display: block;
}

.footer-contact {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1 1 0;
  padding: 30px;
}

.footer-contact .social-links {
  display: flex;
  gap: 15px;
}

.footer-img {
  flex: 1 1 0;
  display: flex;
  justify-content: center;
}

.footer-img img {
  width: 100%;
  object-fit: cover;
}

.phone-div,
.email-div {
  display: flex;
  gap: 10px;
}

@media screen and (min-width: 768px) {
  .header-content {
    display: flow-root;
    margin: 100px;
  }

  .header-about {
    display: block;
    background-color: #ffffff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 20px;
    padding-bottom: 50px;
  }

  .header-img {
    float: left;
    margin-right: 20px;
    margin-left: -50px;
    margin-top: -80px;
  }

  .header-about .social-links {
    display: none;
  }

  .header-img .page-title {
    position: absolute;
    bottom: auto;
    left: auto;
    transform: none;
    top: 10px;
    right: -60%;
    text-shadow: 2px 2px 4px #000000;
    font-size: 2.3rem;
  }

  footer {
    flex-direction: row;
    align-items: center;
    padding: 40px;
  }

  .footer-img {
    height: 400px;
  }
}

@media screen and (min-width: 1024px) {
  .header-content {
    display: flex;
    flex-direction: row;
  }

  .header-img {
    margin: 0;
    width: 100%;
  }

  .header-about .social-links {
    display: flex;
    justify-content: flex-end;
  }

  .header-about {
    padding-bottom: 20px;
  }

  .header-img .page-title {
    position: absolute;
    bottom: 10px;
    left: 50%;
    right: auto;
    top: auto;
    transform: translate(-50%, 0);
    text-shadow: 2px 2px 4px #000000;
    font-size: 2.3rem;
  }
}
